<div class="lm-form" [ngClass]="config.class" [ngStyle]="config.style">
  <div class="structure-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <form [formGroup]="form" novalidate (submit)="onSubmit($event)">
            <h2 *ngIf="content.title">{{content.title}}</h2>
            <p *ngIf="content.body">{{content.body}}</p>
            <ng-container *ngFor="let field of content.field">
              <ng-container [ngSwitch]="field.type">

                <ng-container *ngSwitchCase="fieldTypes.text">
                  <lm-form-field [label]="field.label" [className]="field.class">
                    <input type="text" [placeholder]="field.placeholder" [formControlName]="field.name"/>
                  </lm-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="fieldTypes.textarea">
                  <lm-form-field [label]="field.label" [className]="field.class">
                    <textarea [placeholder]="field.placeholder"
                              [formControlName]="field.name">
                    </textarea>
                  </lm-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="fieldTypes.select">
                  <lm-form-field [label]="field.label" [className]="field.class">
                    <select [formControlName]="field.name">
                      <option *ngFor="let option of field.options" [value]="option.value" [disabled]="option.disabled" [hidden]="option.hidden">
                        {{ option.displayValue }}
                      </option>
                    </select>
                  </lm-form-field>
                </ng-container>
              </ng-container>
            </ng-container>
            <button type="submit" [disabled]="!form.valid || sending">
              {{content.submitLabel}}
            </button>
          </form>
          <p *ngIf="errorMessage"
             class="error message"
             [innerHtml]="getSanHtml(errorMessage)">
          </p>
          <p *ngIf="successMessage"
             class="success message"
             [innerHtml]="getSanHtml(successMessage)">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>